:root {
    --gap-between-boxes: 50px;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#tictactoe {
    width: 500px;
    height: 500px;
    background-color: #7fffd4;
    display: none;
    flex-direction: column;
}
.row {
    height: 50px;
    display: flex;
    gap: var(--gap-between-boxes);
    flex-direction: row;
}
.child {
    width: 50px;
    height: 50px;
    background-color: aqua;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#names {
    font-size: 30px;
    align-self: flex-start;
    justify-self: flex-start;
}
#row-container {
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: var(--gap-between-boxes);
}
#modalCongratsOverlay {
    display: none;
    align-items: center;
    justify-content: center;
}
#modalCongratsBackground {
    width: 400px;
    height: 400px;
    background-color: aliceblue;
}